* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  background: url("https://i.pinimg.com/originals/1e/32/94/1e329407129f8125ac589fa8ad577a22.png");
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
.checklist-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}
h1,
h2 {
  color: white;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3rem;
  width: 50%;
}

h2 {
  font-size: 2rem;
  margin: 2rem auto;
  border-left: solid 15px tan;
  border-radius: 10px;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
}
.flower-name {
  color: #333;
  background: rgba(210, 180, 140, 0.8);
  padding: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
}
.flower {
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 200ms ease;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
  font-size: 20px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
.flower:hover {
  cursor: pointer;
  transform: translateY(2px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.flower:active {
  transform: translateY(4px);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
.garden {
  display: grid;
  background: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0050/6189/rrrdirt_pattern_3x3_shop_thumb.png");
  padding: 2rem;
  border-radius: 10px;
  margin: 0 auto;
  grid-gap: 1rem;
  grid-template-areas:
    "R RW RR RY RO RPI RPU RB RBL .  RG"
    "H HW HR HY HO HPI HPU HB .   .  ."
    "W WW WR .  WO WPI WPU WB .   .  ."
    "T TW TR TY TO TPI TPU .  TBL .  ."
    "C CW CR CY CO CPI .   .  CBL .  ."
    "L LW LR LY LO LPI .   .  LBL .  ."
    "P PW PR PY PO .   PPU PB .   .  ."
    "M MW MR MY .  MPI MPU .  .   MG .";
}

.red {
  background: red;
}
.white {
  background: white;
}
.orange {
  background: #ff6700;
}
.pink {
  background: #ff007f;
}
.purple {
  background: purple;
}
.blue {
  background: blue;
}
.yellow {
  background: yellow;
}
.black {
  background: black;
  color: white;
}
.gold {
  background: linear-gradient(
    45deg,
    rgba(212, 175, 55, 1) 31%,
    rgba(211, 211, 211, 1) 51%,
    rgba(212, 175, 55, 1) 69%
  );
}
.green {
  background: #66ff00;
}
.red,
.purple,
.blue,
.black,
.pink,
.orange {
  color: white;
}

.guide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.guideCard {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  color: white;
  border-left: solid 15px tan;
  padding: 1rem;
  border-radius: 10px;
  margin: 0 2rem 2rem 2rem;
}
.guideCard p {
  margin-bottom: 1rem;
  font-weight: bold;
}
.guideColor {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 20px;
  position: relative;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row:not(.lastRow) {
  margin-bottom: 1rem;
}
.row :not(:last-child) {
  margin-right: 10px;
}
.guideColor span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  font-size: 20px;
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;
}
.fa-star:before {
  content: "\f005";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.can {
  background: url("watering-can.png");
  background-position: center;
  background-size: cover;
  border-radius: 0;
  width: 40px;
}

@media screen and (max-width: 768px) {
  .checklist-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
  }

  .guide {
    margin-top: 2rem;
  }

  .garden {
    grid-template-areas:
      "R  R  R  R  R   R   R  R   R  R"
      "RW RR RY RO RPI RPU RB RBL RG ."
      "H  H  H  H  H   H   H  H   H  H"
      "HW HR HY HO HPI HPU HB . . ."
      "W  W  W  W  W   W   W  W   W  W"
      "WW WR WO WPI WPU WB . . . ."
      "T  T  T  T  T   T   T  T   T  T"
      "TW TR TY TO TPI TPU TBL . . ."
      "C  C  C  C  C   C   C  C   C  C"
      "CW CR CY CO CPI CBL . . . ."
      "L  L  L  L  L   L   L  L   L  L"
      "LW LR LY LO LPI LBL . . . ."
      "P  P  P  P  P   P   P  P   P  P"
      "PW PR PY PO PPU PB .  . .  ."
      "M  M  M  M  M   M   M  M   M  M"
      "MW MR MY MPI MPU MG . . . .";
    width: 95vw;
    box-sizing: border-box;
  }

  .flower {
    width: 25px;
    height: 25px;
  }

  h1 {
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    box-sizing: border-box;
    font-size: 2rem;
  }
  body {
    width: 100vw;
  }
}

@media screen and (max-width: 426px) {
  .garden {
    grid-template-areas:
      "R  R  R  R  R "
      "RW RR RY RO RPI "
      "RPU RB RBL RG ."
      "H  H  H  H  H "
      "HW HR HY HO HPI "
      "HPU HB . . ."
      "W  W  W  W  W  "
      "WW WR WO WPI WPU "
      "WB . . . ."
      "T  T  T  T  T  "
      "TW TR TY TO TPI "
      "TPU TBL . . ."
      "C  C  C  C  C "
      "CW CR CY CO CPI "
      "CBL . . . ."
      "L  L  L  L  L"
      "LW LR LY LO LPI "
      "LBL . . . ."
      "P  P  P  P  P "
      "PW PR PY PO PPU "
      "PB .  . .  ."
      "M  M  M  M  M  "
      "MW MR MY MPI MPU "
      "MG . . . .";
    width: 75%;
    margin: 0 auto;
    margin-top: 2rem;
    grid-gap: 1rem 0.5rem;
    padding: 1rem;
  }

  h1 {
    width: 75%;
    box-sizing: border-box;
  }
  h2 {
    width: 75%;
    box-sizing: border-box;
  }
}
